body {
    cursor:url(a6ugn-zhit0-001.ico),pointer;
  }

.rating {
    font-size: 0;
    display: table;
}

.rating>label {
    color: #ddd;
    float: right;
}

.rating>label:before {
    padding: 5px;
    font-size: 24px;
    line-height: 1em;
    display: inline-block;
    content: "★";
}

.rating>input:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #FFD700;
}

.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
.rating>input:checked~label:hover~label {
    opacity: 0.5;
}

.form4 {
    background: #7882A5;
    width: 1000px;
    height: 470px;
    border: none;
}

.form2 {
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 8px;
    line-height: 1.2;
}

.form {
    padding-left: 10px;
    padding-right: 50px;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 4px;
    line-height: 1.2;
    background: #7882A5;
    width: 350px;
    height: 40px;
    border: none;
    border-radius: 999em;
}

.form3 {
    padding-left: 10px;
    padding-right: 50px;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 4px;
    line-height: 1.2;
    background: #7882A5;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 999em;
}

.banner {
    margin-top: -130px;
    margin-left: -55px;
    width: 110%;
    height: 550px;
    background-image: url("Component\ 3.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.container {
    margin-left: 80px;
    justify-content: center;
}

.title {
    font-size: 32px;
    color: #FFFFFF;
    letter-spacing: 18px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    text-align: center;
    line-height: 150px;
    width: 430px;
}

.shape-ex11{
    font-size: 32px;
    color: #F8FAFD;
    letter-spacing: 18px;
    text-align: center;
    border-radius: 10px;
    width: 430px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    line-height: 150px;
    color: #F8FAFD;
    background-color: transparent;
    position: relative;
    transition: all .3s linear;
}
.shape-ex11 > p{
    position: relative;
    z-index: 1;
}
.shape-ex11::before{
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 10px 0px;
    display: block;
    box-sizing: border-box;
    border-top: 2px solid #F8FAFD;
    border-left: 2px solid #F8FAFD;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s linear;
}
.shape-ex11::after{
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 10px 0px;
    display: block;
    box-sizing: border-box;
    border-bottom: 2px solid #F8FAFD;
    border-right: 2px solid #F8FAFD;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all .3s ease;
}
.shape-ex11:hover::before,
.shape-ex11:hover::after{
    width: 100%;
    height: 100%;
}

.button3 {
    width: 450px;
    height: 70px;
    border-radius: 60px;
    font-size: 22px;
    color: #F8FAFD;
    letter-spacing: 8px;
    line-height: 16px;
    background: #BCC5E4;
    border: none;
    margin-left: 100px;
}

.button3:hover {
    color: #58639A;
    background-color: #F8FAFD;
}

label {
    padding: 0;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+span {
    display: inline-block;
    padding-left: 50px;
    line-height: 40px;
    background: url(Component\ 42.png) no-repeat left top;
    user-select: none;
}

input[type="checkbox"]:checked+span {
    background: url(Component\ 4.png) no-repeat left top;
}

.check {
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 4px;
    padding-top: 4px;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: -50px;
    margin-top: -10px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
}

.navlist{
    opacity: 0;
}

.logo {
    width: 40%;
}

.navbar {
    background-color: #BCC5E4;
}

.navbar-brand {
    margin-right: -120px;
    margin-left: 20px;
}

.page {
    color: #58639A;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
}

.dropdown-item {
    color: #58639A;
    font-size: 16px;
    letter-spacing: 2px;
}

.dropdown-menu {
    background-color: #F8FAFD;
}

.nav-item.active .nav-link,
.nav-item:hover .nav-link {
    color: #F8FAFD;
}

.dropdown-item:hover {
    background-color: #58639A;
    color: #F8FAFD;
}

.nav-item.active .nav-link,
.nav-item:hover .nav-link {
    color: #F8FAFD;
}

.dropdown-item:hover {
    background-color: #58639A;
    color: #F8FAFD;
}

.nav-item {
    padding-left: 20px;
}

.navbar-toggler {
    color: #58639A;
}

.stairs {
    margin-top: -50px;
    margin-left: -30px;
    padding-bottom: 100px;
    width: 100%;
    height: 950px;
    background-image: url("Component\ 8.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.title4 {
    color: #BCC5E4;
    font-size: 34px;
    letter-spacing: 10px;
    margin-left: -10px;
}

.title3 {
    color: #F8FAFD;
    font-size: 32px;
    letter-spacing: 10px;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

.title2 {
    color: #BCC5E4;
    font-size: 32px;
    letter-spacing: 10px;
    background-color: transparent;
    border: none;
    margin-left: -20px;
}

.blue1 {
    color: #F8FAFD;
    font-size: 32px;
    letter-spacing: 10px;
    font-weight: bold;
}

.blue2 {
    color: #BCC5E4;
    font-size: 32px;
    letter-spacing: 10px;
}

.container3 {
    padding-top: 350px;
    padding-left: 650px;
}

.bookname {
    padding-top: 105px;
    margin-left: -250px;
    margin-right: -50px;
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 4px;
    line-height: 1.2;
}

.rating2 {
    font-size: 0;
    display: table;
}

.rating2>label {
    color: #FFD700;
    float: right;
}

.rating2>label:before {
    padding: 5px;
    font-size: 32px;
    line-height: 1em;
    display: inline-block;
    content: "★";
}

.rating2>input:checked~label,
.rating2:not(:checked)>label:hover,
.rating2:not(:checked)>label:hover~label {
    color: #FFD700;
}

.rating2>input:checked~label:hover,
.rating2>label:hover~input:checked~label,
.rating2>input:checked~label:hover~label {
    opacity: 0.5;
}

.two {
    margin-top: -10px;
}

.two2 {
    margin-top: -10px;
}

.number {
    color: #7882A5;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    padding-right: 20px;
}

.three {
    margin-top: -5px;
}

.three2 {
    margin-top: -5px;
}

.bookname2 {
    padding-top: 80px;
    margin-left: -250px;
    margin-right: -50px;
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 4px;
    line-height: 1.2;
}

.tablet:hover {
    color: #58639A;
}

.tablet3:hover {
    color: #58639A;
}

.tablet4:hover {
    color: #58639A;
}