body {
    cursor:url(a6ugn-zhit0-001.ico),pointer;
  }

.background {
    width: 100%;
    height: 875px;
    background-image: url("Component\ 7.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-top: -125px;
}

.maintitle {
    color: #F8FAFD;
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: bold;
    margin-top: -75px;
    margin-left: 80px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1.5s forwards steps(4);
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 200px;
    }
}

@keyframes appear {
    from {
        opacity:0;
    }

    to {
        opacity:100 ;
    }
}

.square {
    width: 15px;
    height: 85px;
    background: #F8FAFD;
    margin-top: -640px;
    margin-left: 40px;
    animation: appear 4s;
}

.box {
    margin-left: 80px;
    margin-top: 50px;
    width: 100px;
    height: 100px;
    background: #aaa;
    box-shadow: 10px 15px 50px -5px #535051;
}

.cover-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box {
    width: 250px;
    height: 350px;
    background: #aaa;
    overflow: hidden;
}

img {
    transition: .5s;
}

.box:hover img {
    transform: scale(1.2);
}

.cover-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title1 {
    margin-left: 360px;
    margin-top: -350px;
}

.title {
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 60px;
    font-size: 32px;
    color: #FFFFFF;
    background: #7882A5;
    border: none;
    margin-bottom: 30px;
}

.title11 {
    color: rgb(255, 255, 255);
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 15px;
}

.content11 {
    color: #BCC5E4;
    font-size: 16px;
    line-height: 10px;
    line-height: 35px;
}


.box2 {
    margin-left: 480px;
    margin-top: 0px;
    width: 100px;
    height: 100px;
    background: #aaa;
    box-shadow: 10px 15px 50px -5px #535051;
}

.cover-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box2 {
    width: 220px;
    height: 300px;
    background: #aaa;
    overflow: hidden;
}

img {
    transition: .5s;
}

.box2:hover img {
    transform: scale(1.2);
}

.cover-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title2 {
    margin-left: 730px;
    margin-top: -300px;
}


.box3 {
    margin-left: 770px;
    margin-top: -510px;
    width: 100px;
    height: 100px;
    background: #aaa;
    box-shadow: 10px 15px 50px -5px #535051;
}

.cover-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box3 {
    width: 180px;
    height: 250px;
    background: #aaa;
    overflow: hidden;
}

img {
    transition: .5s;
}

.box3:hover img {
    transform: scale(1.2);
}

.cover-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title3 {
    margin-left: 980px;
    margin-top: -250px;
}

.findmore {
    color: #F8FAFD;
    font-size: 22px;
    letter-spacing: 10px;
    font-weight: bold;
    margin-top: 140px;
    margin-left: 1110px;
}

.more {
    font-size: 65px;
    text-align: center;
    width: 110px;
    height: 110px;
    border-radius: 999em;
    display: block;
    cursor: pointer;
    line-height: 40px;
    color: #BCC5E4;
    background-color: transparent;
    border: 3px solid #BCC5E4;
    transition: all .3s linear;
    margin-left: 1350px;
    margin-top: 120px;
}

.arrow {
    padding-top: 28px;
}

.more:hover {
    background-color: #BCC5E4;
    color: #58639A;
    border: none;
}

.computer {
    margin-top: 100px;
}

.username {
    color: #F8FAFD;
    font-size: 22px;
    letter-spacing: 2px;
}

.time {
    color: #BCC5E4;
    font-size: 18px;
    letter-spacing: 2px;
    margin-left: 20px;
}

.userphoto {
    width: 10%;
    height: 10%;
    margin-right: 15px;
}

.bookname {
    color: #F8FAFD;
    font-size: 28px;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: transparent;
    border: none;
}

.tablet2 {
    color: #F8FAFD;
    font-size: 28px;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: transparent;
    border: none;
}

.rating {
    font-size: 0;
    display: table;
}

.rating>label {
    color: #FFD700;
    float: right;
}

.rating>label:before {
    padding: 5px;
    font-size: 32px;
    line-height: 1em;
    display: inline-block;
    content: "★";
}

.rating>input:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #FFD700;
}

.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
.rating>input:checked~label:hover~label {
    opacity: 0.5;
}

.eyeicon {
    width: 5%;
    height: 5%;
    margin-right: 5px;
    margin-top: -3px;
}

.check {
    color: #BCC5E4;
    font-size: 18px;
    letter-spacing: 2px;
    padding-top: 15px;
    margin-bottom: 10px;
}

.comment {
    width: 8%;
    height: 8%;
    margin-right: 10px;
    margin-left: 290px;
    margin-bottom: -10px;
}

.like {
    width: 8%;
    height: 8%;
    margin-right: 5px;
    margin-left: 10px;
    margin-bottom: -10px;
}

.check2 {
    color: #BCC5E4;
    font-size: 28px;
    letter-spacing: 2px;
}

.col1 {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 30px;
    margin-right: 30px;
    margin-left: 50px;
    margin-top: 30px;
}

.col1:hover {
    background-color: #7882A5;
}

.col2:hover {
    background-color: #7882A5;
}

.col3:hover {
    background-color: #7882A5;
}

.col2 {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 30px;
    margin-right: 50px;
    margin-left: 30px;
    margin-top: 30px;
}

.col3 {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 30px;
    margin-right: 50px;
    margin-left: 30px;
    margin-top: 30px;
}

.banner {
    padding-top: 100px;
    width: 100%;
    height: 850px;
    background-image:
        linear-gradient(to bottom, rgba(88, 99, 154, 0), rgba(88, 99, 154, 1)),
        url("part2.png");
    background-size: cover;
}

.maintitle2 {
    color: #F8FAFD;
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: bold;
    margin-top: 60px;
    margin-left: 80px;
    border: 1px solid #FFFFFF;
    border-left: none;
    border-right: none;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.maintitle2 {
    color: #F8FAFD;
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: bold;
    margin-top: 60px;
    margin-left: 80px;
    border: 2px solid #F8FAFD;
    border-left: none;
    border-right: none;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    width: 1500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #F8FAFD;
    background-color: transparent;
    position: relative;
    transition: all .3s linear;
}

.maintitle2>p {
    position: relative;
    z-index: 1;
}

.maintitle2::before {
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    box-sizing: border-box;
    border-left: 2px solid #F8FAFD;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s linear;
}

.maintitle2::after {
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    box-sizing: border-box;
    border-right: 2px solid #F8FAFD;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all .3s ease;
}

.maintitle2:hover::before,
.maintitle2:hover::after {
    width: 100%;
    height: 100%;
}

.share {
    width: 90%;
    margin-left: -100px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.bookname2 {
    color: #F8FAFD;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 10px;
    margin-top: 10px;
    margin-left: 100px;
}

.more2 {
    color: #BCC5E4;
    font-size: 18px;
    letter-spacing: 10px;
    padding-left: 20px;
    text-decoration: underline;
    background-color: transparent;
    border: none;
}

.more2:hover {
    color: #F8FAFD;
}

.banner2 {
    padding-left: 90px;
    margin-top: -50px;
    margin-bottom: -200px;
}

.logo {
    width: 40%;
}

.navbar {
    background-color: #BCC5E4;
}

.navbar-brand {
    margin-right: -120px;
    margin-left: 20px;
}

.page {
    color: #58639A;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
}

.dropdown-item {
    color: #58639A;
    font-size: 16px;
    letter-spacing: 2px;
}

.dropdown-menu {
    background-color: #F8FAFD;
}

.nav-item.active .nav-link,
.nav-item:hover .nav-link {
    color: #F8FAFD;
}

.dropdown-item:hover {
    background-color: #58639A;
    color: #F8FAFD;
}

.nav-item.active .nav-link,
.nav-item:hover .nav-link {
    color: #F8FAFD;
}

.dropdown-item:hover {
    background-color: #58639A;
    color: #F8FAFD;
}

.nav-item {
    padding-left: 20px;
}

.navbar-toggler {
    color: #58639A;
}

.goTop {
    position: fixed;
    right: -180px;
    bottom: 30px;
    transform: translateX(0);
    transition: transform 0.2s;
}

.hide {
    transform: translateX(120%);
}

.more2:hover {
    color: #F8FAFD;
    text-decoration: none;
}